{% extends 'Todo/base.html'%}

{% block title %}Todo List{% endblock %}

{% block content %}



<ul>
    {% for task in object_list %}
        <li style="list-style: none; color: white; background-color: rgb(20, 20, 20); margin: 10px 0; padding: 10px; border-radius: 5px;">
            <input type="checkbox" {% if task.complete %}checked{% endif %}>
            <a href="{%url 'details_todo' task.pk%}" style="color: white; text-decoration: none;">{{ task.title }}</a>  
           
            <a href="{%url 'edit_todo' task.pk%}" style="color:white; margin-left: 3%;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="15" fill="black"><path d="M6.41421 15.89L16.5563 5.74785L15.1421 4.33363L5 14.4758V15.89H6.41421ZM7.24264 17.89H3V13.6473L14.435 2.21231C14.8256 1.82179 15.4587 1.82179 15.8492 2.21231L18.6777 5.04074C19.0682 5.43126 19.0682 6.06443 18.6777 6.45495L7.24264 17.89ZM3 19.89H21V21.89H3V19.89Z"></path></svg></a>
            <a href="{% url 'delete_todo' task.pk%}" style="color:white; margin-left: 3%;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="15" fill="black"><path d="M7 4V2H17V4H22V6H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V6H2V4H7ZM6 6V20H18V6H6ZM9 9H11V17H9V9ZM13 9H15V17H13V9Z"></path></svg></a>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12" height="12" fill="currentColor"><path d="M7 4V2H17V4H22V6H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V6H2V4H7ZM6 6V20H18V6H6ZM9 9H11V17H9V9ZM13 9H15V17H13V9Z"></path></svg>
            <button style="background-color: white; color: black; border: none;"><a href="{% url 'delete_todo' task.pk%}" style="color: black; text-decoration: none;">Delete</a></button> -->
        </li>
    {% endfor %}
</ul>
<button class="btn btn-dark" style="margin: 10px 27px; padding: 10px 50px; border-radius: 5px;">
    <a href="{% url 'add_todo' %}" style="color: white; text-decoration: none;">Add task</a>
</button>
{%endblock%}
